:80 {
	handle /socket.io/* {
		reverse_proxy backend1:3001 backend2:3001 {
			health_uri /healthz
			health_interval 10s
			health_timeout 3s
		}
	}

	@probes path /healthz /stats
	handle @probes {
		reverse_proxy backend1:3001 backend2:3001
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
